div {
    color: red;
    backgound-color: gold;
    font-size: 4vw;
    padding: 2vw;
    margin: 2vw;
    border: solid;
}

.contrast {
    filter: contrast(100);
}
.brightness {
    filter: brightness(50%);
}
.inverted {
    filter: inverted(100%)
}
.rotated {
    filter: hue-rotated(200deg);
}
.grayscale {
    filter: grayscale();
}
