.horario{
	border : solid gold;
	margin-bottom : 20px;
	width : 500px;
	height : 100px;
  font-family: sans-serif;
}

.horario td{
  background-color: #90FF90;
}

.horario th{
  background-color: #20C4AA;
}
