ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  border: 1px solid;
  padding: 5px;
  background-color: #b2dfdb;
}

a {
  color: green;
  text-decoration: none;
}

nav {
  text-align: center;
  color: pink;
}

body {
background-color: #7986cb;
}

p {
font-family: cursive;
}

p a {
  display: inline-block;
  border: 1px solid;
  padding: 5px;
  background-color: #b2dfdb;
}

/* esto es un comentario en css */

.encabezado {
  border: 1px solid black;
  border-radius: 50px;
}
