body {
    color: purple;
    background-color: #d8da3d
}

nav {
  text-align: center;
}

ul,li,a {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  border: 1px solid blue;
}
